* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: $main-bg-color;
  color: $main-color-text;
}

a {
  color: inherit;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

input {
  background-color: transparent;
  border: 1px solid $main-color-border;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
}